/* GENERAL */
*{
  margin: 0em;
  padding: 0em;
}
html{
  height: 100%;
}
body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
ul{
  list-style-type: none;
}
a{
	text-decoration: none;
}
h1, .deck_title{
  text-shadow: 1px 1px 1px #d2691e;
  text-decoration: underline;
  padding-bottom: 0.5em;
}
.fas {
  padding: 0 0.4em;
  font-size: 1em;
}
.hidden{
  display: none;
}
.active{
  display: block;
}
.title{
  text-transform: uppercase;
}
.main_title{
  margin-bottom: 1em;
}
/*#skip_to_content{
  visibility: hidden;
  height: 0;
}*/
#skip_to_content {
  width: 1px;
  height: 1px;
  left: -999px;
  position: absolute;
  top: auto;
  overflow: hidden;
  z-index: -999;
}
.error {
  border: 1px solid #f00;
  border-radius: 4px;
  font-size: 1.1em;
  text-align: center;
  padding: 0.5em;
  background-color: #ff1c1c4f;
}
.success{
  border: 1px solid #00ff28;
  border-radius: 4px;
  font-size: 1.1em;
  text-align: center;
  padding: 0.5em;
  background-color: #98ff1c4f;
}

/*--------
BACK TO TOP BUTTON
----------*/
#totop {
  display: none;
  position: fixed;
  bottom: 0.4em;
  right: 0.5em;
  z-index: 99;
  font-size: 1.2em;
  border: none;
  outline: none;
  background-color: #ff7818;
  color: #000;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#totop:hover {
  background-color: #fff8dc;
}
/*----------*/
/*--------
CSS HEADER
----------*/
.header{
  width: 100%;
  text-align: center;
  background-color: #383838;
  box-shadow: inset 0px -2px 31px 0.1em black;
  border-bottom: 1px solid #fff8dc59
}

.nb-col1, .nb-login, .nb-logo, .nb-item{
  display: inline-block;
}
.nb-logo{
  text-align: left;
  vertical-align: middle;
  padding: 1.1em;
}
.nb-logo img{
  width: 4em;
}
.nb-col1{
  width: 79%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
.nb-login{
  vertical-align: middle;
  max-width: 6em;
  padding: 0.7em 0.5em;
  font-size: 1.4em;
  color: #fff8dc;
  border-radius: 3px;
}
.nb-item{
  padding: 0em 0.2em;
  border-right: 1px solid #d2691e;;
}
.nb-item:first-child {
  border-left: 1px solid #d2691e;
}
.nb-item:hover, .nb-login:hover{
  background-color: #d2691e;
  transition: 0.3s;
}
.nb-link{
  padding: 0.7em 0.4em;
  font-size: 1.3em;
  color: #fff8dc;
  display: block;
  margin: auto;
  height: 1.5em;
}
/*end header*/
.color_container_box{
  margin-top: 1.2em;
  padding: 1em 0.5em 1em 0.5em;
  min-width: 50%;
  background-color: #fff8dc1f;
  vertical-align: top;
}
#hot_decks{
  padding: 0.6em;
  margin: 1.2em 3em 0em 0em;
  min-height: 27em;
  width: 20%;
  display: inline-block;
  min-width: 14.9em;
  background-color: #fff8dc1f;
}
.content,.footer,.manaButton{
  background-color:#383838;
}
.content{
  min-height: calc(100% - 22.9em);
  text-align: center;
  padding: 1.5em 4em 1.5em 4em;
  color: #fff;
}
.menu a, .linkText, .link {
	color:#fff;
}
.link{
	text-decoration: none;
}
.link:visited,.linkText:visited{
	color:#deb887;
}
.link:hover,.linkText:hover,.footerText,.footerTextTitle{
	color:#FFFFFF;
}
.listaMana,.content fieldset,.content h2,.content h3,#form ul li{
	color:#fff8dc;
}
.card_img{
	width: 12em;
  border-radius: 11px;
}
.card_type{
	margin-top: 0.5em;
  border-bottom: 1px solid #fff8dc59;
}
.box{
  box-shadow: 0 0 15px #000;
  border-radius: 4px;
  border: 1px solid #fff8dc59;
}

/*******************/
.src_col1{
    width: 100%;
}
.content fieldset > .content input {
    display: inline-block;
    margin: 0.5em;
}
.frm_title{
  padding: 0.3em;
  margin-left: 0.8em;
  margin-right: 0.8em;
  margin-bottom: 0.3em;
  font-size: 1.6em;
  color:#fff8dc;
  background-color: #383838;
  border-radius: 3px;
}
/*******************/
.inline_el, .src_col1, .card_type ul li {
	display: inline-block;
}
.src_dropdown {
	display: block;
	width: 50%;
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.color_checkbox {
  position: absolute;
  opacity: 0;
}
.color_checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
.color_checkbox + label::before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
}
.color_checkbox:hover + label::before {
  background: #fff8dc;
}
.color_checkbox:focus + label::before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.color_checkbox:checked + label::before {
  background: #d2691e;
}
.color_checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.color_checkbox:disabled + label::before {
  box-shadow: none;
  background: #ddd;
}
.color_checkbox:checked + label::after {
  content: '';
  position: absolute;
  background: #000;
  width: 4px;
  height: 4px;
  box-shadow:
    2px 0 0 #000,
    4px 0 0 #000,
    4px -2px 0 #000,
    4px -4px 0 #000,
    4px -6px 0 #000,
    4px -8px 0 #000;
  transform: translateX(-57px) translateY(22px) rotate(45deg);
}
.cont_form{
  width: 37%;
  margin: auto;
	display: block;
}
.simpleText{
  font-size: 1.3em;
}
.simpleText,.content label{
	margin: 0.5em;
	display: block;
}
.content h2,.content h3,#form ul li{
	padding-bottom: 0.5em;
}
.content h2,.content h3{
	margin-top: 0.5em;
}
.manaButton{
	border: solid black;
	padding: 0.5em 2em 0.2em 2em;
	cursor: pointer;
  border-radius: 8px;
}
.manaButton:hover{
  background-color: #fff8dc1f;
}
.carta{
	padding: 0.6em;
}
#caratteristiche h1{
	color:#fff8dc;
	font-size: 2em;
	margin-bottom: 0.5em;
}
.card_box {
  display: inline-block;
  padding: 0.5em 1em 0.5em 1em;
}
.card_box:hover {
    background-color: #fff8dc2e;
    border-radius: 12px;
    transition: 0.4s;
}
.wiki_nav {
  width: 72%;
  display: inline-block;
}
.nav_btn{
  min-width: 3em;
  display: inline-block;
  margin: 0.3em;
  font-size: 1.1em;
  font-weight: 600;
  color: #d2691e;
}
.nav_btn:hover{
  color: #fff8dc;
}
.src_form{
  margin-left: 2em;
  position: absolute;
  left: 0;
}
.src_form_deck,.src_form_wiki{
  width: 24%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
}
.deck_box{
  display: inline-block;
  width: 44%;
  vertical-align: middle;
  margin: 0.5%;
  border: 1px solid
  #fff8dc59;
  border-radius: 3px;
}
.deck_box:hover{
  background-color: #fff8dc2e;
  transition: 0.3s;
}
.formButton{
	display: inline-block;
	margin: 1em 2em 1em 2em;
}
.deck_box .Title{
	font-size: 2em;
}
.card_title{
	font-size: 1.1em;
  padding-top: 0.5em;
  display: block;
}
.manaButton:focus{
	background-color:#fff8dc;
}
/*regole*/
.glossario{
  position: relative;
  padding-bottom: 1.5em;
}
.menu_regole_wrp{
  width: 18%;
  min-width: 13em;
  display: inline-block;
  vertical-align: top;
  margin-right: 3%;
  text-align: left;
}
.menu {
  padding: 0.5em;
}
.sub_list{
  padding-left: 1em;
  font-style: italic;
}
.sub_list li{
  padding: 0.1em;
}
.sub_list li:hover, .regole_main_title:hover{
  background-color: #fff8dc59;
  border-radius: 3px;
}
.regole_main_title{
  font-size: 1.2em;
  margin: 0.3em 0 0.3em 0;
  border-bottom: 1px solid #fff8dc59;
}
.content_regole{
  width: 63%;
  display: inline-block;
  border-left: 1px solid #fff8dc59;
  padding-left: 1.5em;
  text-align: left;
}
.sez_title{
  text-align: center;
  color: #deb887;
}
.regole_mana{
  display: inline-block;
  padding: 0.5em;
}
/**/
/*deck forum*/
#deck_list{
  margin-top: 1.2em;
}
.linkedDeck{
  display: block;
  min-height: 10em;
  padding: 0.5em;
}
.linkedDeck span{
  display: block;
}
.deck_title{
  font-size: 2em;
}
.deck_info{
  font-size: 1.2em;
}
/**/
/*single card*/
.desc_card{
  display: inline-block;
  vertical-align: middle;
  padding: 1em;
  width: 56%;
  text-align: left;
}
.desc_card ul li{
  padding: 0.5em;
  display: block;
  margin: 0.2em;
}
.desc_sez_pre{
  min-width: 18%;
  display: inline-block;
  padding: 0.2em;
  color: #fff8dc;
  background-color: #fff8dc1c;
  font-weight: bold;
}
.desc_sez{
  padding: 0.2em;
}
.single_card_img{
  width: 15em;
  border-radius: 11px;
  display: inline-block;
  vertical-align: top;
  margin-right: 4%;
  box-shadow: 0 0 2em #000;
  border: 1px solid #fff8dc59;
}
/**/
/*contatti / about us*/
.inputArea{
  padding: 0.4em;
  border-radius: 3px;
  min-width: 21%;
}
.inputArea:hover{
  background-color: #afafaf;
  transition: 0.3s;
}
/**/
/*Single deck*/
.deck_cards{
  width: 80%;
  margin: auto;
  min-width: 16em;
}
.deck_card_img{
  display: block;
  margin-top: -1em;
}
.num_card{
  box-shadow: 0 0 15px black;
  vertical-align: baseline;
  width: 1.7em;
  border-radius: 5px;
  height: 1.7em;
  color: #000;
  transform: translateX(5em) translateY(1em);
  background-color: #fff8dc;
}
.fa-square {
  font-size: 2.2em;
  transform: translatey(-3px) translateX(-2px);
}
/**/
/*bottone*/
.btn {
  min-width: 13%;
  padding: 0.4em;
  margin: 0.4em;
  font-size: 1em;
  border-radius: 3px;
  background-color: #fff8dc;
  border: none;
  box-shadow: 0 0 5px black;
}
.btn:hover {
  background-color: #d2691e;
  transition: 0.2s;
}
/**/
/*login*/
.login_frm, .registration_frm{
  width: 50%;
  margin: auto;
}
/**/
/*user page*/
.deck_nav{
  width: 68%;
  display: inline-block;
}
.usr_intro,.admin_intro{
	padding: 0.6em;
}
/**/
/*admin page*/
.admin_intro{
  display: inline-block;
}
.stats{
  margin-top: 1em;
  border-top: 1px solid #fff8dc59;
  padding: 1em 0;
}
.ad_stat{
  color: #fff8dc;
  display: inline-block;
  width: 22%;
  margin: 0.2em 0;
  padding: 0.5em;
  min-height: 3.5em;
  min-width: 5em;
  font-size: 1.5em;
  vertical-align: middle;
}
.ad_stat:hover{
  background-color: #fff8dc59;
  color: #000;
}
.admin_form{
  margin-top: 1em;
}
#new_db_card {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}
#new_db_card fieldset{
  border: none;
}
.new_card_fl{
  display: inline-block;
  border: none;
  vertical-align: top;
}
.new_card_fl legend{
  border-bottom: 1px solid #fff8dc59;
}
.nc_btn{
  display: block;
  margin: 2em auto;
}
/**/
/* footer */
.footer{
  padding: 0.6em;
	vertical-align: bottom;
	text-align: center;
  box-shadow: inset 0px -2px 31px 0.1em black;
  border-top: 1px solid #fff8dc59;
}
.footerTextTitle{
	margin-bottom: 10%;
  font-size: 1.3em;
  text-shadow: 1px 1px 1px #d2691e;
  text-decoration: underline;
}
.sez-footer {
  display: inline-block;
	padding: 2em;
  vertical-align: top;
}
.fo-item{
  font-size: 1.2em;
  color: #fff8dc;
  display: block;
  margin: auto;
  height: 1.5em;
}
/**/
.card_insert_box {
  display: block;
  min-width: 24em;
  padding: 1.5em 0;
  border-bottom: 1px solid #fff8dc5e;
}
#current_usr_deck{
  width: 60%;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 4.5em;
}
#new_deck_form{
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
#deck_submit_button{
  font-weight: bold;
  height: 3em;
  font-size: 1.2em;
}
/* infinite scroll temp*/
.new_deck_sez{
  width: 80%;
  height: 30em;
  overflow: auto;
  margin: 0.5em auto;
  padding: 0.5em;
  border: 2px solid black;
}
#infinite-list{
  width: 61%;
}
#infinite-list ul{
  width: 15em;
}

@media screen and (max-width: 900px) {
  .src_form_deck,.wiki_nav,.src_form_wiki,#new_deck_form, #current_usr_deck{
    width: 100%;
  }
  .card_box{
    width: 40%;
    min-width: 12em;
  }
  .wiki_nav, .deck_nav{
    padding-top: 1em;
  }
  .deck_nav{
    width: 100%;
    min-width: 16em;
  }
  .deck_box{
    width: 100%;
    min-width: 15em;
    margin: 0 0 0.5em 0;
  }
  .src_form_deck{
    margin: 0;
  }
  .glossario{
    padding: 0;
  }
  .content_regole,#new_db_card{
    width: 100%;
    border-left: none;
    padding: 1em 0.5em 0 0.5em;
  }

  .nb-logo, .nb-item {
    display: block;
    text-align: center;
  }
  .nb-col1{
    display: block;
    border: none;
  }
  .nb-item {
    border: 1px solid #d2691e;
  border-radius: 3px;
  margin: 0.5em auto;
  width: 50%;
  }
}
