*{
  margin:0em;
  padding:0em;
}
html,body{
  height:100%;
  font-family: Arial, Helvetica, sans-serif;
}
ul{
  list-style-type:none;
}
.content,.header,.footer,.manaButton{
  background-color:#383838;
}
.content{
  min-height:54%;
  text-align:center;
}
.menu a,.linkText,.link{
	color:#deb887;
}
.link{
	text-decoration:none;
}
.link:visited,.linkText:visited{
	color:#7B3F00;
}
.link:hover,.linkText:hover,.footerText,.footerTextTitle{
	color:#FFFFFF;
}
.listaMana,.content fieldset,.content legend,.content h1,.content h2,.content h3,#form ul li{
	color:#fff8dc;
}
.card_img{
	width:12em;
	margin-top:1em;
  border-radius: 10px;
}
.card_type{
	margin-top:0.5em;
}
.box{
	padding-top:2em;
}

/*******************/
.content fieldset{
    margin: auto;
    width: 50%;
    text-align: center;
}
.content fieldset > .content input {
    display: inline-block;
    margin: 0.5em;
}
.content fieldset > .content legend {
    padding: 0.3em;
    margin-left: 0.5em;
}
.content legend{
	padding:0.3em;
	text-align:center;
	font-size:1.5em;
}
/*******************/
.inline_el,.color_checkbox, .src_col1, .src_col2,.card_type ul li {
	display: inline-block;
}
.src_dropdown {
	display: block;
	width: 50%;
	margin:auto;
	margin-top:0.5em;
	margin-bottom:0.5em;
}
.color_checkbox{
	margin: 0.5em;
}
.form .simpleText,.content label{
	margin:0.5em;
	display:block;
}
.form .formButton{
	display:block;
	margin:auto;
	margin-top:2em;
	margin-bottom:2em;
}
.content .simpleText,#caratteristiche li,.deck_cards li{
	padding-left:8em;
	padding-right:8em;
	color:#FFFFFF;
}
.content h1,.content h2,.content h3,#form ul li{
	margin-bottom:0.5em;
}
.content h2,.content h3{
	margin-top:0.5em;
}
.manaButton{
	border: solid;
	padding: 0.5em 2em 0.2em 2em;
	color:#FFFFFF;
	cursor:pointer;
}
.carta{
	margin-left:2em;
	margin-top:0.5em;
}
#caratteristiche h1{
	color:#fff8dc;
	font-size:2em;
	margin-bottom:0.5em;
}
#caratteristiche ul,.src_form{
	margin-bottom:2em;
}
.card_box {
  display: inline-block;
  margin: 0.5em
}
.wiki_nav {
  margin: auto;
  width: 80%;
}
.wiki{
  border: 1px solid #FFFFFF;
}
.src_form .formButton,.deck_box{
	display:inline-block;
	margin:2em;
	margin-top:1em;
	margin-bottom:1em;

}
.deck_box .Title{
	font-size:2em;
}

/*--------
CSS HEADER
----------*/
.header{
  width: 100%;
  text-align: center;
  background-color: #383838;
  border-bottom: 3px solid;
  box-shadow: inset 0px -2px 31px 0.1em black;
}

.nb-col1, .nb-login, .nb-logo, .nb-item{
  display: inline-block;
}
.nb-logo{
  text-align: left;
  vertical-align: middle;
  padding: 1.1em;
}
.nb-logo img{
  width: 4em;
}
.nb-col1{
  width: 85%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
.nb-login{
  text-align: right;
  font-size: 1.2em;
}
.nb-item{
  padding: 0.7em 0;
  border-right: 2px solid #d2691e;
}
.nb-item:first-child{
  border-left: 2px solid #d2691e;
}
.nb-item:hover{
  background-color: #d2691e;
  transition: 0.3s;
}
.nb-link{
  padding: 0.7em 1em;
  font-size: 1.2em;
  color: #fff8dc;
}
/*end header*/

.singlepannel,.hidden{
	display: none;
}
.active{
	display:block;
}
.card_title{
	margin-top:1em;
	font-size: 1em;
}
.manaButton:focus{
	background-color:#fff8dc;
}
/* footer */
.footer{
    padding:0.6em;
	vertical-align:bottom;
	text-align:center;
}
.footerTextTitle{
	margin-bottom:10%;
}
.sez-footer {
    display:inline-block;
	padding: 2em;
}

.registration_frm {
  display: none;
}
