* {
  margin: 0em;
  padding: 0em;
}

html, body{
  max-width: 1024px;
  margin: auto;
}

header{
  border: 1px solid #000;
}

#header{
  display: none;
}


body{
  border: 1px solid #000;
}

footer{
  border: 1px solid #000;
}
