* {
  margin: 0em;
  padding: 0em;
}

html, body{
  max-width: 1024px;
  margin: auto;
}

header{
  border: 1px solid #000;
}

nb-logo{
  display: none;
}

.navbar{
  display: none;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

body{
  border: 1px solid #000;
}

footer{
  border: 1px solid #000;
}
